.itemcart {
    background-color: #f4f4f4;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;

    padding: 10px;
  }
  .itemcart__title {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 15px;
    min-height: 57px;
    display: flex;
    align-items: center;
    width: 80%;

  }
  .itemcart__price{
    width: 100%;
  }
  .itemcart__img {
    width: 200px;
    padding: 5px 15px;
  }
  .itemcart__qty {
    font-size: 1.2rem;
    color: #a2bf5e;
    margin: 5px;
    font-weight: bold;
    width: 100%;

  }
  .itemcart__stock {
    font-size: 0.8rem;
    margin: 0px 10px 10px;
  }
  .itemcart__btn {
    font-size: 1.25rem;
    width: 100%;
    margin: 0px;
    border: none;
    padding: 10px;
    background-color: #fcb258;
    cursor: pointer;
    transition: 800ms;
    color: #424242;
    text-decoration: none;
    text-align: center;
  }

  .itemcart__btn:hover {
    background-color: #f5ce9f;
    color: #353535;
  }
  