.navbar {
  margin: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: bisque;
}
.navbar__categories {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.navbar__logo {
  margin: 0px;
  width: 200px;
}
.navbar__link {
  display: flex;
  justify-content: center;
  margin: 5px;
  text-decoration: none;
}
